<html>
  <meta charset="UTF-8" /><meta
    content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=5"
    nama = "viewport"
  /><meta content="IE=edge" http-equiv="Kompatibel dengan X-UA" />
  <link rel="preconnect" href="https://fonts.googleapis.com" /><link
    rel="prasambungkan"
    href="https://fonts.gstatic.com"
    crossorigin
  /><tautan
    href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
    rel="stylesheet"
